<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="../css/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header.header
            .container
               .header-inner
                    .logo
                        |
                        |
                        a(href="#").logo__link
                            |
                            |
                            img(src="../img/Logo.png").logo_img
                    nav.menu
                        ul.menu__list
                            li.menu__list-item
                                |
                                |
                                a(href="#").menu__link Home
                            li.menu__list-item
                                |
                                |
                                a(href="#").menu__link About Us
                            li.menu__list-item
                                |
                                |
                                a(href="#").menu__link Services
                            li.menu__list-item
                                |
                                |
                                a(href="#").menu__link Careers
                            li.menu__list-item
                                |
                                |
                                a(href="#").menu__link News
                            li.menu__list-item
                                |
                                |
                                a(href="#").menu__link Documentation
                    .buttons
                        input.buttons__login(type="submit" value="LOGIN")
                        input.buttons__registr(type="submit" value="REGISTR")
                            